.advantages, .work, .list-comanda, .social-networks, .header-listf, .header-lists {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #ffffff;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .section-title {
    font-size: 28px;
  }
}

.section-titles {
  margin-top: 30px;
  margin-bottom: 0;
  color: #212121;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.section-text {
  margin-top: 10px;
  margin-bottom: 0;
  color: #757575;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hero {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/Heroimg.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Heroimg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .hero {
    width: 480px;
    height: 400px;
    padding-top: 118px;
    padding-bottom: 198px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    width: 100%;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 280px;
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 480px) {
  .hero-title {
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-button {
  display: inline-block;
  padding: 10px 32px;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .advantages .item {
    width: 354px;
    margin-right: 30px;
  }
  .advantages .item:nth-child(even) {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .advantages .item {
    width: 270px;
  }
  .advantages .item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .advantages .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.img-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .advantages-titles {
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  .section-do {
    display: none;
  }
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work .item:not(:last-child) {
  margin-right: 30px;
}

.do {
  position: relative;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 370px;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: #2196f3;
}

.link-comanda {
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .link-comanda {
    width: 270px;
  }
}

.comand {
  background-color: #f5f4fa;
}

@media screen and (max-width: 767px) {
  .list-comanda .link-comanda:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .list-comanda {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .list-comanda .link-comanda:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .list-comanda .link-comanda:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

.comand-name {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.comand-img {
  margin-bottom: 30px;
}

.comand-text {
  margin-top: 0px;
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 32px;
  padding-right: 31px;
  padding-bottom: 24px;
}

.social-networks .item:not(:last-child) {
  margin-right: 10px;
}

.social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item:hover, .social-item:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.logo {
  font-family: Raleway, sans-serif;
}

.logo-left {
  color: #2196f3;
}

.logo-riht {
  color: #212121;
}

.logo-rihts {
  color: #ffffff;
}

.logo-nav {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .logo-nav {
    font-size: 26px;
    line-height: 1.19;
  }
}

.link-navf {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-navf:hover, .link-navf:focus {
  color: #2196f3;
}

.link-navf:active {
  color: #2196f3;
}

.link-navf.current {
  color: #2196f3;
}

.link-navf::after {
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  opacity: 0;
}

.link-navf.current::after {
  opacity: 1;
  color: #2196f3;
}

.link-navs {
  margin: 0px;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .link-navs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.link-navs .header-icon {
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.HHH:hover a {
  color: #2196f3;
}

.HHH:hover svg {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .header-listf {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 86px;
  }
  .header-listf .item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .header-lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-lists .item:not(:last-child) {
    margin-right: 30px;
  }
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}

@media screen and (max-width: 767px) {
  .page-header {
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffffff;
    text-align: center;
  }
}

.page-header {
  background-color: #ffffff;
}

.header-menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .header-menu {
    display: none;
  }
}

.header-menu .icon-close {
  display: none;
}

.header-menu.is-open .icon-close {
  display: block;
}

.header-menu.is-open .icon-menu {
  display: none;
}
/*# sourceMappingURL=main.css.map */