.advantages {
  @extend %list;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    & .item {
      width: 354px;
      margin-right: 30px;
    }
    & .item:nth-child(even) {
      margin-right: 0px;
    }
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;

    & .item {
      width: 270px;
    }

    & .item:not(:last-child) {
      margin-right: 30px;
    }
  }

  @media screen and (max-width: 1199px) {
    & .item:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.img-small {
  display: flex;
  height: 120px;

  border-radius: 4px;
  background-color: $bgcolor;
  justify-content: center;
  align-items: center;
}

.advantages-titles {
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
