// .client {
//   display: flex;
//   align-items: center;

//   & .item:not(:last-child) {
//     margin-right: 30px;
//   }

//   @extend %list;
// }

// .client-logo {
//   display: flex;
//   width: 170px;
//   height: 90px;
//   border: 1px solid #afb1b8;

//   border-radius: 4px;
//   background-color: $quartenarycolor;
//   justify-content: center;
//   align-items: center;
//   fill: #afb1b8;

//   transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     border: solid $ternarycolor;
//     fill: $ternarycolor;
//   }
// }
