// .logo {
//   font-family: $secondaryfontfamily;
// }

// .logo-left {
//   color: $ternarycolor;
// }
// .logo-riht {
//   color: $primerycolor;
// }

// .logo-rihts {
//   color: $quartenarycolor;
// }

// .logo-nav {
//   font-weight: bold;
//   font-size: 26px;
//   line-height: 1.19;
//   text-decoration: none;
// }

// .logo-footer {
//   display: inline-block;
//   margin-bottom: 10px;
//   font-weight: bold;
//   font-size: 22px;
//   line-height: 1.18;
//   text-decoration: none;
// }
