.list-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: first baseline;

  & .item:nth-child(-n + 5) {
    margin-bottom: 15px;
  }

  & .item:not(:last-child) {
    margin-right: 8px;
  }

  @media screen and (min-width: 768px) {
    justify-content: center;

    & .item:nth-child(-n + 5) {
      margin-bottom: 0px;
    }
  }

  @extend %list;
}

.button {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;

  color: $primerycolor;
  background-color: $bgcolor;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $quartenarycolor;
    background-color: $ternarycolor;
  }
}
