.section-portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $quartenarycolor;
}

.section-start {
  margin-top: 0px;
  margin-bottom: 0px;
}

.container-main {
  margin-top: 40px;
}
