$primerycolor: #212121;
$secondarycolor: #757575;
$ternarycolor: #2196f3;
$quartenarycolor: #ffffff;
$bgcolor: #f5f4fa;

$primeryfontfamily: Roboto, sans-serif;
$secondaryfontfamily: Raleway, sans-serif;


%list {
  padding: 0;
  margin: 0;
  list-style: none;
}
